/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
*{
	background-color: #ffcaca;
	margin:0;
	padding:0;
}

body {
	font: 100.01% Verdana, Arial, Helvetica, sans-serif;
}

.welcomeLabel {
	font-size: 20px;
	font-weight:bold;
	color: white;
	text-align: center;
}
.gwt-save-button
  { color: red;
  	background-color: blue;
  	width: 45px;
  	height: 55px;
  }
.loginPanel {
	padding-top: 180px;
	margin: 0 auto;
}
.gwt-sign-out {
	color: green;


}

